.authBlock {
  width: 750px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  background: rgb(28 28 28);
  border-radius: 5px 50px;

  h2 {
    font-size: 40px;
    text-align: center;
  }
}

form {
  width: 600px;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  position: relative;
  margin: 0 auto;
}

.userInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  width: 100%;

  input {
    width: 100%;
    padding: 8px 10px;

    font-size: 16px;
    background: transparent;

    border: none;
    border-bottom: 1px gray solid;
    color: white;
  }
}

.address {
  display: flex;
  gap: 15px;

  width: 100%;
}

.countryBlock {
  width: 50%;
}

.custom-select {
  font-size: 16px !important;

  &__control {
    cursor: pointer !important;

    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
    color: white !important;
    border-bottom: 1px gray solid !important;
    box-shadow: none !important;

    &--menu-is-open {
      border-bottom: 1px solid #165636 !important;

      color: white !important;
    }
  }

  &__indicator {
    cursor: pointer !important;

    :hover {
      color: #165636 !important;
    }
  }

  &__clear-indicator,
  &__dropdown-indicator {
    color: white !important;
    transition: all 0.2s ease-in-out;

    :hover {
      color: #165636 !important;
      transition: all 0.2s ease-in-out;
    }
  }

  &__menu {
    background-color: lighten($color: rgb(28, 28, 28), $amount: 5%) !important;
  }

  &__multi-value__remove {
    background-color: #113f27 !important;
  }

  &__option {
    cursor: pointer !important;

    &--is-focused {
      background-color: #165636 !important;
    }

    &--is-selected {
      background-color: darken($color: #165636, $amount: 5%) !important;
      pointer-events: none !important;
      cursor: not-allowed !important;
    }
  }

  &__single-value {
    color: white !important;

    font-size: 18px;
  }
}

.errorI,
.errorII,
.errorIII {
  position: absolute;
  color: #a11b04;
}

.errorI {
  right: 0;
  top: 28px;
}
.errorII {
  right: 0;
  top: 78px;
}
.errorIII {
  left: 56px;
  bottom: 70px;
}

.cityInput {
  width: 50%;
  padding: 8px 10px;

  font-size: 16px;
  background: transparent;

  border: none;
  border-bottom: 1px gray solid;
  color: white;
}

input:focus {
  outline: 0;
  outline-offset: 0;

  border-bottom: 1px solid #165636;
}

.btnSubmit {
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin-top: 15px;

  background: #165636;
  color: white;

  border-radius: 5px;
  border: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.btnSubmit:hover {
  background: #113f27;
  transition: all 0.3s ease-in-out;
}
